In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import string, os 
%matplotlib inline
import unicodedata
import odf

from keras_preprocessing.sequence import pad_sequences
from keras.layers import Embedding, LSTM, Dense, Dropout
from keras.preprocessing.text import Tokenizer
from keras.callbacks import EarlyStopping
from keras.models import Sequential
import keras.utils as ku

In [2]:
osuIndiaDf = pd.read_csv(r"C:\Users\yug\Desktop\Projects\AIML\NLG\osu! India - General Channels.ods")

OverflowError: cannot convert float infinity to integer